@use '../../styles/partials/typography' as *;
@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;


.search {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    // align-items: center
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__box {
        border-radius: $border-radius;
        width: fit-content;
        margin: 1rem 0 2rem 0;
    }

    &__label {
        @include label-button;
        padding:0.5rem;  
        font-family: $primary-font; //add font to mixin and delete from here
    
    }

    &__container {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
    }

    &__input {
        cursor: pointer;
        padding: 0.5rem;
        font-family: $primary-font;
        border-radius: $border-radius;

        &:focus {
            border-color: $color-five;
            outline: none;
        }

        &:active {
            border: 2px solid $color-three;
        }

        &:default {
            border: 2px solid $color-three;
        }
    }

    &__option {
        cursor: pointer;
        color:$color-three;
        font-family: $primary-font;
        padding: 0.5rem;

        &:hover {
            background-color: $color-two;
        }
    }

    &__button {
        margin-top: 1rem;
        @include label-button;
        cursor: pointer;
        font-family: $primary-font;
        padding:0.5rem 1rem;  
        border: 1px solid $color-four;
        font-size: 1rem;
        box-shadow: 4px 1px 10px $color-five;

        &:hover {
            background-color: $color-three;
        }
    }
}

.card-container {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    margin:1rem 2rem;

    @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: 1.5rem;

    }
    
}

.card {
    border-radius: $border-radius;
    background-color: $color-two;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem .5rem;
    
    @include tablet {
        max-width: 20rem;
        margin-right: 1rem;
    }
    
    &__place {
        @include card-title;
        font-size: 1.7rem;
    }

    &__title {
        @include card-title;
        margin-top: 0.5rem;
    }

    &__details {
        font-family: 'Catamaran';
        color:$color-three;
        font-size: 1rem;
    }
}

ul {
    list-style-image: url('../../assets/images/arrow.png');
}

