@use '../../styles/partials/typography' as *;
@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;


.search {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__box {
        border-radius: $border-radius;
        width: fit-content;
        margin: 1rem 0 2rem 0;
    }

    &__label {
        @include label-button;
        padding: 0.5rem 1rem;  
        font-family: $primary-font;

        @include tablet {
            padding: 0.5rem 2.2rem;
        }
    }

    &__container {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
    }

    &__input {
        cursor: pointer;
        padding: 0.5rem 1rem;
        font-family: $primary-font;
        border-radius: $border-radius;
        margin: 2rem;
        
        &:focus {
            border-color: $color-five;
            outline: none;
        }

        &:active {
            border: 2px solid $color-three;
        }

        &:default {
            border: 2px solid $color-three;
        }
    }

    &__option {
        cursor: pointer;
        color:$color-three;
        font-family: $primary-font;
        padding: 0.5rem;

        &:hover {
            background-color: $color-two;
        }
    }

    &__button {
        @include label-button;
        cursor: pointer;
        padding:0.5rem 1.2rem;  
        box-shadow: 4px 1px 10px $color-five;
        margin: 1rem 0 2rem;

        &:hover {
            background-color: $color-three;
        }

        @include tablet {
            padding:0.5rem 3.5rem;  
        }
    }
}
