@use './colors' as *;
@use './mixins' as *;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color-one;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}