@font-face {
    font-family:'Gentium';
    src: url(../../assets/fonts/GentiumBookPlus-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Gentium';
    src: url(../../assets/fonts/GentiumBookPlus-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:'Gentium';
    src: url(../../assets/fonts/GentiumBookPlus-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

