@use '../../styles/partials/typography' as *;
@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;


.card-container {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    margin:1rem 2rem;

    @include tablet {
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;
    }
}

.card {
    border-radius: $border-radius;
    background-color: $color-two;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 4px 2px 10px $color-five;
    
    @include tablet {
        max-width: 20rem;
        margin: 2rem 1rem 2rem 2rem;
    }

    @include desktop {
        &:nth-child(3n - 2) {
            margin-left: 6.5rem; 
        }
    }
    
    &__place {
        @include card-title;
        font-size: 1.7rem;
        margin: 0;
    }

    &__title {
        @include card-title;
        margin-top: 0.5rem;
        font-weight: 600;
    }

    &__details {
        font-family: $primary-font;
        color:$color-three;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: .5rem;
        overflow-wrap: anywhere;
    }
}

ul {
    list-style-image: url('../../assets/images/arrow.png');
    padding-left: 1.5rem;
}

