@use '../../styles/partials/typography' as *;
@use '../../styles/partials/global';
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;


.header {
    display: flex;
    align-items: center;

    &__logo {
        height: 32vw;

        @include tablet {
            height: 22vw;
        }

        @include desktop {
            height: 11vw;
        }
    }

    &__title {
        color: $color-three;
        font-family: 'Catamaran';
        font-size: 1.2rem;
        padding-left: 1rem;

        @include tablet {
            font-size: 2.5rem;
            padding-left: 7rem;
        }

        @include desktop {
            padding-left: 15rem;
        }

    }
}
